html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.main-container {
	display: flex;
	flex-direction: column;
	height: 100%;
}
.button-bar {
	padding: 10px;
	background-color: #f0d0d0;
	flex-shrink: 0;
}
.textarea-wrapper {
	flex-grow: 1;
	margin:5px;
	display: flex;
}
#Textarea {
	width: 100%;
	height: 100%;
	padding: 10px;
	font-size: 36px;
	font-family: "Times New Roman";
	line-height: 1.0;
	box-sizing: border-box;
	resize: none;
}
